/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
form{
  display:flex;
  justify-content: center;
  margin-top: 100px;
}
button{
  display:flex;
  margin:auto
}
h2{
  display:flex;
  justify-content: center;
  margin-top:50px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
