html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Philosopher', sans-serif; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

p, li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #000622;
}
body {
  width: 1500px;
  margin: 0 auto;
  background-color: #858585;
  padding: 0 20px 20px 20px;
  border: 3px solid white;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 5px rgb(43, 43, 43);
}
img {
  display: block;
  margin: 0 auto;
  width: 100%; height: auto;
}

button {
  background-color: #00539F;
  color: rgba(255, 255, 255, 0.692);
}