/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2, form{
  text-align: center;
}
button{
  display: flex;
  margin: 25px auto 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
