body{
    background: skyblue;
    border: 5px solid rgb(53, 218, 53);
    color: white;
    margin:30px;
    padding:30px;
}
h1{
    text-align: center;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    font-weight:400;   
}
nav li{
    display: inline;
}
nav{
    text-align: center;
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;    
}
nav li + li:before{
    content: " | ";
    color: gray
}
a:link{
    color:rgb(0, 201, 151);
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:25px;
}
img{
    height:280px;
    float:right;
    padding-bottom:30px;
}
p{
    font-size:20px;
    line-height: 1.4;
}
section{
    padding-bottom: 8px;
}
footer{
    clear:both;
}