*{
    box-sizing:border-box;
}
header{
    length:100%;
    height:100px;
    background:gold;
    border: 3px solid black;
}
.alpha{
    width:100%;
    height:200px;
    float:left;
    background:aqua;
    border: 3px solid black;
}
.beta{
    width:33.3333%;
    height:300px;
    float:left;
    background: green;
    border: 3px solid black;
}
.cappa{
    width:66.6666%;
    height:300px;
    float:left;
    background: greenyellow;
    border: 3px solid black;
}
footer{
    length:100%;
    height:100px;
    background:gold;
    clear: both;
    border: 3px solid black;
}